<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <h5>{{restaurant.Category.name}}</h5>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <ul>
      <li>
        <h4>Comments: <b>{{numComments}}</b></h4>
      </li>
      <li>
        <h4>Views:</h4>
      </li>
      <li>
        <h4>Likes:</h4>
      </li>
    </ul>
  </div>
</div>
<a href="javascript:history.back()">
  <h4>Back</h4>
</a>